.button {
  margin-top: 2.5rem;
  padding: 0.5rem 5rem;
  font-weight: bold;

  border: none;
  border-radius: 0.25rem;
  background: #fb015b;
  color: #fff;

  cursor: pointer;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(0.9);
}
